#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#DEB_MAKE_CHECK_TARGET = test_crocoin
#build/crocoind::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_crocoin)

DEB_INSTALL_EXAMPLES_crocoind += debian/examples/*
DEB_INSTALL_MANPAGES_crocoind += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix crocoind
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f crocoin-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake crocoin-qt.pro USE_QRCODE=1

override_dh_auto_test:
	cd src; $(MAKE) -f makefile.unix test_crocoin
	src/test_crocoin

# Ensure wrapper is set executable
binary-post-install/crocoind:
	chmod +x $(cdbs_curdestdir)usr/bin/crocoind
binary-post-install/crocoin-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/crocoin-qt
